.contenedor{
    display: flex;
    flex-direction: column;
    width: 30vh;
    height: 50vh;
    border: 1px solid black;
}

.etiquetas{
    display: flex;
    flex-direction: row;
   justify-content: space-evenly; 
    font-size: 0.75rem;
    font-weight: bold;
    color: orangered;
}

.titulo{
    font-size: 1.25rem;
    font-weight: bold;
}

.starts{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.votos{
    margin-left: 5px;
}

.boton{
    border: 1px solid rgb(255, 60, 0);
}
