
hr{
    border: 1px solid rgb(197, 195, 195);
}

.contenedor{
    display: flex;
    align-items: center;
    margin-left: 4vh;
    margin-right: 14vh;
}

.circulo{
    width: 10vh;
    height: 10vh;
    background-color: red;
    border-radius: 100%;
}

.texto{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 12vh ;
    margin-left: auto;
}