
/*RELLENAR*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gradiente-lineal {
width: 100%;
height: 200px;
background: linear-gradient(
    to right,
    rgb(219, 175, 255) 25%,
    rgb(222, 112, 255) 50%,
    rgb(255, 33, 218) 75%,
    rgb(245, 32, 114) 100%
 );
}


.gradiente-radial {
    margin-top: 1rem;
    width: 100%;
    height: 200px;
    background: radial-gradient(
        circle 200px at center,
        rgb(0, 225, 255) 25%,
        rgb(4, 0, 255) 50%,
        rgb(183, 0, 255) 75%,
        rgb(128, 0, 79) 100%
    );

}